<audio #audioPlayer id="player" 
        src="{{playerService.getSrc()}}"
        (canplay)="playerService.onCanPlay()"
        (timeupdate)="playerService.refreshCurrentTime()">
</audio>
<div *ngIf="playerService.actual != undefined" class="player-container">
  <div class="command-button-container">
    <i class="command-button fas fa-backward"></i>
    <i class="command-button fas fa-pause" *ngIf="playerService.currentlyPlaying; else playButton" (click)="playerService.pause()"></i>
    <ng-template #playButton><i class="command-button fas fa-play" (click)="playerService.play()"></i></ng-template>
    <i class="command-button fas fa-forward"></i>
  </div>
  <div class="timing">{{playerService.progression()}}</div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="playerService.currentTime" aria-valuemin="0"
      [attr.aria-valuemax]="playerService.duration" [ngStyle]="{'width': playerService.percentProgression() + '%'}"></div>
  </div>
</div>