<div *ngIf="isConnected(); else youHaveToLog">
  <h3>Upload a song in our database</h3>
  <p>We love to know what you're listening to. So, share it with us !</p>
  <form [formGroup]="uploadForm" (ngSubmit)="submitFile(popover)">
    <div class="form-group row">
      <label class="col-sm-2">Title</label>
      <input type="text" formControlName="title" class="form-input col-sm-6" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
      <!-- <div *ngIf="submitted && uploadForm.controls.title.errors" class="invalid-feedback">
        <div *ngIf="uploadForm.controls.title.errors.required">A title is required for a song</div>
      </div> -->
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Artist</label>
      <input type="text" formControlName="author" class="form-input col-sm-6" [ngClass]="{ 'is-invalid': submitted && f.author.errors }" />
      <!-- <div *ngIf="submitted && uploadForm.controls.author.errors" class="invalid-feedback">
        <div *ngIf="uploadForm.controls.author.errors.required">An artist is required for a song</div>
      </div> -->
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Album</label>
      <input type="text" formControlName="album" class="form-input col-sm-6" [ngClass]="{ 'is-invalid': submitted && f.album.errors }" />
      <!-- <div *ngIf="submitted && uploadForm.controls.album.errors" class="invalid-feedback">
        <div *ngIf="uploadForm.controls.album.errors.required">An album is required for a song</div>
      </div> -->
    </div>
    <!-- <div class="form-group row">
      <label for="AuthorSelect">Artist</label>
      <select #authorSelect class="form-control" id="AuthorSelect">
        <option value="Other">Other...</option>
        <option [value]="author" *ngFor="let author of artistList">{{author}}</option>
      </select>
    </div> -->
    <div class="form-group">
      <label>Album cover</label>
      <input type="file" formControlName="cover" (change)='setFile($event, "cover")'>
    </div>
    <div class="form-group">
      <label>Music file</label>
      <input type="file" formControlName="music" (change)='setFile($event, "music")'>
    </div>
    <div class="form-group">
      <div class="btn-container">
        <button class="btn">Upload</button>
        <div #popover class="popover-sub" id="submit-popover">popover</div>
      </div>
    </div>
  </form>
</div>
<ng-template #youHaveToLog>
  <h3>Error :c</h3>
  <p>Sorry, you have to log to listen to music ! (it's very quick, click the key button on the navigation bar !)</p>
</ng-template>