<div *ngIf="isConnected(); else youHaveToLog">
    <div class="topbar">
        <h3>Our (very) legal database</h3>
        <div class="search-container">
            <form>
                <input [(ngModel)]="keyword" type="text" placeholder="Search.." name="search" autocomplete="off">
            </form>
        </div>
    </div>
    <ul class="list-group">
        <div *ngFor="let music of musicList; let i = index">
            <app-music *ngIf='checkMusicKeyword(music)' [music]=music [index]=i>
            </app-music>
        </div>
    </ul>
</div>
<ng-template #youHaveToLog>
    <h3>Error :c</h3>
    <p>Sorry, you have to log to listen to music ! (it's very quick, click the key button on the navigation bar !)</p>
</ng-template>