<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink=""><i class="fas fa-home"></i></a></li>
        <li routerLinkActive="active"><a routerLink="list">Music</a></li>
        <li routerLinkActive="active"><a routerLink="upload">Upload</a></li>
        <li class="right">
          <div class="popover-auth" id="connection-popover">popover</div>
          <a *ngIf='!isConnected()' (click)="connect()"><i class="fas fa-key"></i></a>
          <a *ngIf='isConnected()' (click)="disconnect()"><i class="fas fa-door-open"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body-container container">
  <div class="body-row row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-player></app-player>